/*********
* Main
**********/
* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

:root {
    --primary-color: #000;
    --secondary-color: #919191;
    --font-color: #555;
    --bg-color: #fff;
    --heading-color: #000;
}

[data-theme="dark"] {
    --primary-color: green;
    --secondary-color: darkgreen;
    --font-color: green;
    --bg-color: #000;
    --heading-color: lightgreen;
}

body {
    color: var(--primary-color);
    background-color: var(--bg-color);
}

h2 {
    color: var(--heading-color);
}

#main-title {
    margin-right: auto;
    font-size: 2.0em;
}

@media screen and (max-width: 800px) {
    #main-title {
        font-size: 1.5em;
    }
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 100px;
    box-shadow: 0 1px 8px var(--font-color);
}

header li {
    list-style: none;
    padding: 3px 20px;
}

@media screen and (min-width: 1000px) {
    header li {
        display: inline-block;
    }
}

header a {
    text-decoration: none;
    color: var(--font-color);
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: var(--heading-color);
}

#intro {
    margin-left: 50px;
    margin-top: 25px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.entry {
    margin: 30px;
    padding-top: 10px;
    text-align: center;
    width: 380px;
    height: 200px;
    border: 5px var(--font-color) solid;
    border-radius: 5px;
    box-shadow: 0 1px 8px var(--font-color);
    transition: all 0.3s ease-in-out;
}

.entry:hover {
    color: var(--bg-color);
    background-color: var(--secondary-color);
}


@media screen and (max-width: 800px) {
    .entry {
        width: 300px;
    }
}

.sample-box {
    color: var(--heading-color);
    font-size: 10px;
    margin: 5px auto;
    padding: 5px;
    height: 100px;
    width: 220px;
    border: 2px var(--font-color) solid;
    background-color: var(--bg-color);
}

#projects {
    margin: 30px;
}




/*********
* Slider
**********/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
  
.theme-switch input {
    display:none;
}
  
.slider {
    background-color: #555;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .3s;
    width: 26px;
}
  
input:checked + .slider {
    background-color: green;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}